<h1>Explore Portfolios:</h1>
<%= link_to 'New', new_portfolio_path(@portfolio) %></li>

<ul>
  <% @portfolio.each do |portf| %>
    <li><%= link_to portf.name, portfolio_path(portf) %></li>
    <li><%= portf.description %></li>
    <li>$<%= portf.initial_balance %></li>
    <li><%= portf.user.name %></li>
    <br>
  <% end %>
</ul>
