<%= form_for(@portfolio) do |f| %>
      <%= f.label :name %><br>
      <%= f.text_field :name %></div>
      <%= f.label :description %>
      <%= f.text_field :description %><br>
      <%= f.label :initial_balance %>
      <%= f.text_field :initial_balance %><br>  
      <%= f.submit 'Create New Portfolio' %>
    </div>
  <% end %> 