<h1><%= @portfolio.name %></h1>
<div>
    <p> <%= @portfolio.description %></p>
    <p> Balance inicial: $<%= @portfolio.initial_balance %></p>
</div>
<%= link_to 'Back', portfolios_path %>
<%= link_to 'Edit', edit_portfolio_path(@portfolio) %></li>
