<h1><%= @portfolio.name %></h1>
<div>
    <p> Created by: <%= @portfolio_creator.name %></p>
    <p> Description: <%= @portfolio.description %></p>
    <p> Inicial Balance: $<%= @portfolio.initial_balance %></p>
    <% if @portfolio.user_id == current_user.id %>
        <p><%= link_to 'Edit Portfolio', edit_portfolio_path(@portfolio) %></p>
        <p> Buying Power: $<%= @portfolio.current_balance %></p>
    <% end %>
    
</div>
  

<%= render partial: 'trades/trade' %>

<% if @portfolio.user_id == current_user.id %>
    <%= render partial: 'trades/pick_cryptocurrency' %>
<% end %>

<%= render partial: 'comments/new_comment' %>

<%= render partial: 'comments/comment' %>

