<h1><%= @portfolio.name %></h1>
<div>
    <p> <%= @portfolio.description %></p>
    <p> Balance inicial: $<%= @portfolio.initial_balance %></p>
</div>
<%= link_to 'Back', portfolios_path %>
<%= link_to 'Edit', edit_portfolio_path(@portfolio) %></li>

<%= form_with(model: [@portfolio, @comment]) do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :portfolio_id, value: @portfolio.id %>
    <%= f.text_area :content %>
    <%= f.submit :comment %>
<% end %>

<% @comments.each do |comment| %>
    <li>
        <%= comment.user.name %> - <%= comment.content %>
    </li>
<% end %>