
<div class="container">
    <h3><p>Your trade will be executed in portfolio: <%= link_to @portfolio.name, portfolio_path(@portfolio) %></p></h3>
    <img src="<%= @coin.image %>" alt="<%= @coin.name %>" width="150" height="150">
    <br>
    <h3><p><%= @coin.name.upcase %></p></h3>
    <ul class="list-group">
    <h3><li class="list-group-item">Current Price: <%= @coin.current_price %> FlatCoins</li></h3>
    <li class="list-group-item">Price Change  1 Hour: <%= @coin.price_change_percentage_1h_in_currency.round(3) %>%</li>
    <li class="list-group-item">24 Hour High: $<%= @coin.high_24h %></li>
    <li class="list-group-item">24 Hour Low: $<%= @coin.low_24h %></li>
    <li class="list-group-item">Trading Volume 24 Hours: $<%= @coin.total_volume %></li>
    <li class="list-group-item">Market Cap: $<%= @coin.market_cap %></li>
    <li class="list-group-item">Market Cap Rank: #<%= @coin.market_cap_rank %></li>
    <li class="list-group-item">Circulating Supply: $<%= @coin.circulating_supply %></li>
    </ul>
    <h3>Your buying Power: <%=@portfolio.current_balance %> FlatCoins</h3>
    <h3>You can buy up to: <%=@portfolio.max_coins(@coin.current_price) %> <%= @coin.name %> coins.</h3>
    
    <%= form_with(model: [@portfolio, @trade]) do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :portfolio_id, value: @portfolio.id %>
        <%= f.hidden_field :coin_name, value: @coin.name %>
        <%= f.hidden_field :coin_id, value: @coin_id %>
        <%= f.hidden_field :price, value: @coin.current_price %>
        <%= f.label :quantity %>
        <%= f.text_field :quantity %>
        <%= f.submit :trade, value: 'Buy NOW!' %>
    <% end %>
</div>
